server.port: 5000
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jdbc_schema
    username: user
    password: secret
  jpa:
    open-in-view: false
    hibernate.ddl-auto: create-drop
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init.mode: always



---
spring.config.activate.on-profile: docker
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/jdbc_schema