server:
  port: 8080


spring:
  application:
    name: gateway-service
  lifecycle:
    timeout-per-shutdown-phase: 5s
  web:
    resources:
      add-mappings: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: gateway-service
  prometheus:
    metrics:
      export:
        enabled: true

---
spring:
  config:
    activate:
      on-profile: docker
server:
  port: 8080
eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
