services:
  post-service:
    build: post-service
    environment:
      - SERVER_PORT=8080
    ports:
      - "8080:8080"

  user-service:
    build: user-service
    environment:
      - SERVER_PORT=8080
      - APP_POST-SERVICE_HOST=post-service
      - APP_POST-SERVICE_PORT=8080
    ports:
      - "8081:8080"