/* src/main/resources/static/css/error.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
