services:
  post-service:
    build: post-service
    environment:
      - SERVER_PORT=8080
    ports:
      - "8080:8080"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 2s
      retries: 60