server:
  port: 8082

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

---
spring.config.activate.on-profile: docker
spring:
  rabbitmq:
    host: lavinmq
    port: 5672
    username: guest
    password: guest
