server.port: 9001
spring.application.name: datetime-service

app.default.zone: "Europe/Rome"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "*"

resilience4j.ratelimiter:
  configs:
    default:
      limit-for-period: 100
      limit-refresh-period: 60s
      timeout-duration: 0s
  instances:
      time:
        base-config: default
      date:
        base-config: default

---
spring.config.activate.on-profile: docker
server.port: 8080
eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka/

---
spring.config.activate.on-profile: time
spring.application.name: time-service

---
spring.config.activate.on-profile: date
spring.application.name: date-service