spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  jpa:
    open-in-view: false
    hibernate.ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init.mode: always
  h2:
    console:
      enabled: true
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  thymeleaf:
    cache: false
    suffix: .html
    prefix: classpath:/templates/
logging:
  level:
    root: debug
    org: warn
    com.zaxxer: warn
    org.springdoc: warn
  pattern:
    dateformat: yyyy-MM-dd




