<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/register" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Create an Account</h2>
        <div th:if="${error}">
            <p th:text="${error}" style="color: red;"></p>
        </div>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <!-- New avatar upload field -->
        <p>
            <span class="form-control">
            <label for="avatar" >Upload profile picture 32x32</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">
            </span>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <!-- Optional link to go back to the login page -->
        <a href="/login" class="btn btn-lg btn-secondary btn-block">Back to Sign In</a>
    </form>
</div>
</body>
</html>
