server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    prometheus:
      enabled: true

---
spring.config.activate.on-profile: docker

server:
  port: 8080
