services:
  eureka:
    build: eureka-service
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8761" ]
      interval: 10s
      timeout: 10s
      retries: 10

  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:8080"
      - "--entrypoints.traefik.address=:8888"
    ports:
      - "8080:8080"
      - "8888:8888"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/dashboard/" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  bff-service:
    build: bff-service
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bff-service.rule=PathPrefix(`/bff`)"
      - "traefik.http.services.bff-service.loadbalancer.server.port=8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build: user-service
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.user-service.rule=PathPrefix(`/users`)"
      - "traefik.http.services.user-service.loadbalancer.server.port=8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  post-service:
    build: post-service
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.post-service.rule=PathPrefix(`/posts`)"
      - "traefik.http.services.post-service.loadbalancer.server.port=8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  comment-service:
    build: comment-service
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.comment-service.rule=PathPrefix(`/comments`)"
      - "traefik.http.services.comment-service.loadbalancer.server.port=8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5