server.port: 9001
spring.application.name: datetime-service

app.default.zone: "Europe/Rome"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "*"

resilience4j:
  ratelimiter:
    instances:
      timeRateLimiter:
        limit-for-period: 20
        limit-refresh-period: 60s
        timeout-duration: 0s
    metrics:
      enabled: true

---
spring.config.activate.on-profile: docker
server.port: 8080
eureka.client.serviceUrl.defaultZone: http://eureka:8761/eureka/

