services:
  eureka:
    build: eureka-service
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8761" ]
      interval: 10s
      timeout: 10s
      retries: 10

  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.traefik.address=:8888"
    ports:
      - "80:80"
      - "8888:8888"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/dashboard/" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  datetime-composite-ss:
    build: datetime-composite-service-ss
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - DATETIME_SERVICE_URL=http://traefik:80

  datetime:
    build: datetime-service
    environment:
      - SERVER_PORT=8080
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
    deploy:
      mode: replicated
      replicas: 3
    labels:
      - "traefik.enable=true"

      # Router 1: /date
      - "traefik.http.routers.date.rule=PathPrefix(`/date`)"
      - "traefik.http.routers.date.service=datetime"
      - "traefik.http.services.datetime.loadbalancer.server.port=8080"

      # Router 2: /time
      - "traefik.http.routers.time.rule=PathPrefix(`/time`)"
      - "traefik.http.routers.time.service=datetime"